@import "compass"

*
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

html, body
  height: 100%
  padding: 0
  margin: 0
html
  font-size: 62.5%
body
  font: normal 1.5rem/1.4 arial
  height: 100%
  position: relative

