<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="utf-8">
    <title><%- title || lang.title %></title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="description" content="<%- description || lang.description %>" />

    <link rel="icon" href="/d/images/favicon.ico" type="image/ico" />

    <meta property="fb:app_id" content="<%= lang.connect_fb_app_id %>" />
    <meta property="og:url" content="<%= lang.url %><%= url %>" />
    <meta property="og:title" content="<%- title || lang.title %>" />
    <meta property="og:description" content="<%- description || lang.description %>" />
    <meta property="og:image" content="<%= lang.url %><%= image || lang.image %>" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@<%= lang.connect_tw %>">
    <meta name="twitter:url" content="<%= lang.url %><%= url %>">
    <meta name="twitter:title" content="<%- title || lang.title %>">
    <meta name="twitter:description" content="<%- description || lang.description %>">
    <meta name="twitter:image" content="<%= lang.url %><%= image || lang.image %>">

</head>
<body>
<header><div>
    <a href="/" title="<%- lang.title %>"><img src="/d/images/jaunatelpa.png" alt="<%- lang.title %>" /></a>
    <nav>
        <% links.forEach(function (link) { %>
        <a href="<%= link.url %>" title="<%- link.title %>"><%- link.title %></a>
        <% }) %>
    </nav>
</div></header>