<aside>
    <nav class="category">
        <ul>
            <% categories.forEach(function (category) { %>
                <li><a href="/sadala/<%= category.url %>" title="<%= category.title %>"><%= category.title %></a></li>
            <% }) %>
        </ul>
    </nav>
    <nav class="social">
        <h2><%= lang.connect %></h2>
        <a class="social-dr" href="http://www.draugiem.lv/<%= lang.connect_dr %>" title="<%- lang.connect_dr_title %>"><%= lang.connect_dr_title %></a>
        <a class="social-fb" href="https://www.facebook.com/<%= lang.connect_fb %>" title="<%= lang.connect_fb_title %>"><%= lang.connect_fb_title %></a>
        <a class="social-tw" href="https://twitter.com/<%= lang.connect_tw %>" title="<%= lang.connect_tw_title %>"><%= lang.connect_tw_title %></a>
    </nav>
    <nav class="locations">
        <ul>
            <% locations.forEach(function (location) { %>
                <li><a href="/<%= lang.location %>/<%= location.url %>" title="<%= location.title %>"><%= location.title %></a></li>
            <% }) %>
        </ul>
    </nav>
</aside>