<%= header({url: url, title: title, description: description, image: image, lang: lang, version: version})%>
<div>

    <%= starred %>
    <div>
        <section>
            <h1><%- article.title %>
                <small><%= lang.date(article.date) %></small></h1>
            <%= article.full %>
        </section>
        <% if (tags.length > 0) { %>
        <nav class="tags">
            <%= lang.tags %>:
            <% tags.forEach(function (t) { %>
                <a href="/birka/<%= t.url %>" title="<%- t.title %>"><%- t.title %></a>
            <% }) %>
        </nav>

        <% } %>
        <nav class="shares">

            <div id="draugiemLike"></div>

            <a class="twitter-share-button"
               href="https://twitter.com/intent/tweet?text=<%= encodeURIComponent(article.title) %>&url=<%= encodeURIComponent(lang.url + '/' + article.url) %>&via=<%= lang.connect_tw %>"
               data-size="large">
                Tweet</a>

            <div class="fb-like" <% if (article.url_old) { %> data-href="<%= lang.url %>/<%= article.url_old %>" <% } %> data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

        </nav>

        <div class="fb-comments" <% if (article.url_old) { %> data-href="<%= lang.url %>/<%= article.url_old %>" <% } %> data-numposts="100"></div>

        <%= sidebar %>
    </div>
</div>

<%= footer %>