<%= header({url: url, title: title, description: description, image: image, lang: lang, version: version})%>

<body>
    <% articles.forEach(function (article) { %>
        <section>
            <h1><a href="/<%= article.url %>"><%= article.title %></a></h1>
            <small><%= lang.date(article.date) %></small>
            <a href="/<%= article.url %>"><img src="<%= article.img %>" /></a>
            <p>
                <%= article.intro %>
            </p>
            <a href="/<%= article.url %>"><%= lang.read_more %></a>
        </section>
    <% }) %>
    <nav>
        <% if (page.active > 1) { %>
            <a href="<%= url + (page.active > 2 ? '/' + (page.active - 1) : (url.length === 0 ? '/' : '')) %>"><%= lang.next %></a>
        <% } %>
        <% if (page.active < page.total) { %>
            <a href="<%= url + '/' + (page.active + 1) %>"><%= lang.previous %></a>
        <% } %>
    </nav>
    <%= starred %>
    <%= sidebar %>
<%= footer %>